<!DOCTYPE HTML>
<html>
    <head>		
        <meta Charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>以升大学生创新实验中心</title>
        <link rel="stylesheet" type="text/css" href="{$Think.const.WWW_PUB}public/Admin/BootStrap/css/bootstrap.min.css">			
        <link rel="stylesheet" type="text/css" href="{$Think.const.WWW_PUB}public/Admin/index/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{$Think.const.WWW_PUB}public/Admin/index/css/ace.min.css">
        <script type="text/javascript" src="{$Think.const.WWW_PUB}public/Admin/BootStrap/js/jquery-1.11.1.min.js"></script>		
        <script type="text/javascript" src="{$Think.const.WWW_PUB}public/Admin/BootStrap/js/bootstrap.min.js"></script>
    </head>
    <frameset border=0 framespacing=0 rows="50, *" frameborder=0>
        <frame name="head" src="{$Think.const.WWW_PUB}index.php/Admin/Index/head" frameborder=0 noresize scrolling=no>
        <frameset cols="257,*">
            <frame name="left" src="{$Think.const.WWW_PUB}index.php/Admin/Index/left" frameborder=0 noresize scrolling=no >
            <frame name="right" src="{$Think.const.WWW_PUB}index.php/Admin/Index/right" frameborder=0 noresize scrolling=yes>
        </frameset>
    </frameset>
    <noframes>
    </noframes>    
</html>

