<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit">
        <title>新闻信息审核</title>
        <link rel="stylesheet" type="text/css" href="{$Think.const.WWW_PUB}/Public/Admin/BootStrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{$Think.const.WWW_PUB}Public/Admin/BootStrap/css/bootstrap-table.min.css">
        <!--js文件引入-->
        <script type="text/javascript" src="{$Think.const.WWW_PUB}Public/Admin/BootStrap/js/jquery-1.11.1.min.js"></script>     
        <script type="text/javascript" src="{$Think.const.WWW_PUB}Public/Admin/BootStrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{$Think.const.WWW_PUB}Public/Admin/My97DatePicker/WdatePicker.js"></script>
        <script src="{$Think.const.WWW_PUB}Public/Admin/kindeditor-4.1.10/kindeditor.js"></script>
        <script src="{$Think.const.WWW_PUB}Public/Admin/kindeditor-4.1.10/lang/zh_CN.js"></script>
        <link rel="stylesheet" href="{$Think.const.WWW_PUB}Public/Admin/kindeditor-4.1.10/plugins/code/prettify.css">
        <script src="{$Think.const.WWW_PUB}Public/Admin/kindeditor-4.1.10/plugins/code/prettify.js"></script>

        <!--kindeditor-->
        <script type="text/javascript">
        KindEditor.ready(function(K) {
                    var editor1=K.create('textarea[name="news_content"]',{
                        cssPath : '{$Think.const.WWW_PUB}Public/Admin/kindeditor-4.1.10/plugins/code/prettify.css',
                        uploadJson : '{$Think.const.WWW_PUB}Public/Admin/kindeditor-4.1.10/php/upload_json.php',
                        fileManagerJson : '{$Think.const.WWW_PUB}Public/Admin/kindeditor-4.1.10/php/file_manager_json.php',
                        allowFileManager : true,
                        afterBlur : function(){
                            this.sync();
                        }
                    });
                    prettyPrint();
                });
        </script>

    </head>
    <body>
        <div>
            <div class="modal-body">
                <form id="wt-forms" method="post" tabindex="-1" onsubmit="return false;" class="form-horizontal">
                    <input type="hidden" value="{$news_id}" name="news_id">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">信息名称：</label>
                        <div class="col-xs-8">
                            <input type="text" id="news_name" name="news_name" value="{$row[0]['news_name']}" placeholder="请给出信息名称" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">信息时间：</label>
                        <div class="col-xs-8">
                            <input type="text" id="news_time" name="news_time" value="{$row[0]['news_time']}" onclick="WdatePicker()" placeholder="请单击" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">信息类别：</label>
                        <div class="col-xs-8">
                            <select name="news_cate_id">
                                <foreach name="cate_rows" key="k" item="cate_row">
                                    <option value="{$k}" <if condition="$row[0]['news_cate_id'] eq $k">selected="selected"</if> >{$cate_row}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">机构选择：</label>
                        <div class="col-xs-8">
                            <select name="news_org_id">
                                <foreach name="org_rows" key="k" item="org_row">
                                    <option value="{$k}" <if condition="$row[0]['news_org_id'] eq $k">selected="selected"</if>  >{$org_row}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-xs-3 control-label">信息内容：</label>
                        <div class="col-xs-8">
                            <textarea name="news_content" id="news_content" plcaeholder="请给出内容">{$row[0]['news_content']}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">审核：</label>
                        <div class="col-xs-8" style="margin-top:1%;">
                            <select name="examine">
                                <option value="0">审核通过</option>
                                <option value="1">退回修改</option>
                            </select>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>

    </body>
</html>