<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit">
        <title>管理员修改</title>
        <link rel="stylesheet" type="text/css" href="{$Think.const.WWW_PUB}/Public/Admin/BootStrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{$Think.const.WWW_PUB}Public/Admin/BootStrap/css/bootstrap-table.min.css">
		<!--js文件引入-->
		<script type="text/javascript" src="{$Think.const.WWW_PUB}Public/Admin/BootStrap/js/jquery-1.11.1.min.js"></script>		
		<script type="text/javascript" src="{$Think.const.WWW_PUB}Public/Admin/BootStrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
			<div class="modal-body">
				<form id="wt-forms" method="post" tabindex="-1" onsubmit="return false;" class="form-horizontal">
                    <input type="hidden" value="{$user_id}" name="user_id">
                    <input type="hidden" value="{$user_account_id}" name="user_account_id">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">登录账号：</label>
                        <div class="col-xs-8">
                            <input type="text" id="user_account" name="user_account" value="{$user_account_row[0]['user_account']}" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">密码：</label>
                        <div class="col-xs-8">
                            <input type="password" id="user_pwd" value="{$user_account_row[0]['user_pwd']}" name="user_pwd" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">用户姓名：</label>
                        <div class="col-xs-8">
                            <input type="text" id="user_name" name="user_name" value="{$user_row[0]['user_name']}" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">用户性别：</label>
                        <div class="col-xs-8">
                            <input type="radio" name="user_sex" value="0" <if condition="$user_row[0]['user_sex'] eq 0">checked="checked"</if>>男
                            <input type="radio" name="user_sex" value="1" <if condition="$user_row[0]['user_sex'] eq 1">checked="checked"</if>>女
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">所属机构：</label>
                        <div class="col-xs-8">
                            <select name="org_id">
                                <foreach name="org_rows" key="key" item="org_row">
                                    <option <if condition="$user_row[0]['org_id'] eq $key">selected="selected"</if> value="{$key}">{$org_row}</option>
                                </foreach>
                            </select> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">联系电话：</label>
                        <div class="col-xs-8">
                            <input type="phone" id="user_phone" value="{$user_row[0]['user_phone']}" name="user_phone" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">联系邮箱：</label>
                        <div class="col-xs-8">
                            <input type="email" id="user_email" value="{$user_row[0]['user_email']}" name="user_email" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">用户地址：</label>
                        <div class="col-xs-8">
                            <input type="email" value="{$user_row[0]['user_address']}" name="user_address" class="form-control input-sm"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" value="{$isAdmin}" name="is_admin">                        
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">是否启用：</label>
                        <div class="col-xs-8">
                            <input type="radio" name="isenable" value="0" <if condition="$user_account_row[0]['isenable'] eq 0">checked="checked"</if>>启用&nbsp;&nbsp;
                            <input type="radio" name="isenable" value="1" <if condition="$user_account_row[0]['isenable'] eq 1">checked="checked"</if>>禁用
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">用户角色：</label>
                        <div class="col-xs-8">
                            <select name="role_id">
                                <foreach name="role_rows" item="row">
                                    <option <if condition="$user_account_row[0]['role_id'] eq $row['role_id']">selected="selected"</if> value="{$row['role_id']}">{$row['role_name']}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                </form>
			</div>
		</div>		
	</body>
</html>